/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

@config "../tailwind.config.js";
@layer base {
  html {
    font-size: 16px;
  }
}

@theme {
  --color-red: oklch(67.06% 0.2442 27.53);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
